<% provide(:title, @poet.name) %>
<h1>Poems by <%= @poet.name %></h1>
<div class="row">
  <div class="span12">
    <% if @poet.poems.any? %>
      <h3>Poems found (<%= @poet.poems.count %>)</h3>
      <%= paginate @poems %>  
      <ol class="poems">
        <%= render(@poems) %>
      </ol>
      <%= paginate @poems %>  
    <% end %> 
  </div>
</div>
