<% provide(:title,@poem.title ) %>
<h3><%= @poem.title %></h3> <br>
<div class="row .poems">
  <div class="span8">
    <span class="body"><%= simple_format(@poem.body) %></span>
    <span class="timestamp">
     Created by <%= @poem.user.name %>, <%= time_ago_in_words(@poem.created_at) %> ago.
    </span>
    <% if current_user.id == @poem.user.id %>
     <span class="links"> <%= link_to('My Poems', poems_path) %> | 
      <%= link_to('Edit Poem', edit_poem_path(@poem)) %> |
      <%= link_to('Delete Poem', @poem,
        method: :delete,
        data: { confirm: "Are you sure?"},
        title: @poem.title) %>
    </span>
    <% end %> <br><br>
    <h4>Poem Analysis</h4>
    <ul>
      <li><%= pluralize(@ta.lines_count, 'line') %> </li>
      <li><%= @ta.character_count %> characters</li>
      <li><%= @ta.character_count_nospaces %> characters (no spaces)</li>
      <li><%= pluralize(@ta.sentence_count, 'sentence') %></li>
      <li><%= pluralize(@ta.paragraph_count, 'paragraph') %> </li>
      <li><%= pluralize(@ta.words_per_sentence, 'word')  %> per sentence </li>
      <li><%= pluralize(@ta.sentences_per_paragraph, 'sentence')  %> per paragraph </li>
      <li><%= @ta.no_fluff_percentage %>% fluff free </li>
    </ul>
  </div>
</div>

