<% provide(:title, 'Poets') %>
<h1>Poets</h1>
<div class="row">
  <div class="span12">
    <% if @poets.any? %>
      <%= paginate @poets%> 
      <ul class="poets">
        <% @poets.each do |poet| %>
        <li id="<%= dom_id(poet) %>">
          <span class="title"><%= poet.name %> <br>
          <span class="timestamp">
            <% unless poet.poems.empty? %>
            Poems posted (<%= poet.poems.count %>) - <%= link_to('Poems', poet_poems_path(poet)) %><br>
            <% end %>
            Member since <%= time_ago_in_words(poet.created_at) %> ago.
          </span>
        </li>
        <% end %>
      </ul> 
      <%= paginate @poets %> 
    <% end %>
  </div>
</div>
 