<% provide(:title, 'Profile') %>
<h1><%= @poet.name %>&#39;s Profile</h1>
<div class="row">
  <div class="span6  offset3">
    <ul class="poets">
      <li><b>Email:</b> <%= @poet.email %> <br>
          <b>Account created on:</b> <%= @poet.created_at %> <br>
          <b>Account updated at:</b> <%= @poet.updated_at %> <br>
          <b>Account last sign in at:</b> <%= @poet.last_sign_in_at %> <br>
          <b>Account last sign in ip:</b> <%= @poet.current_sign_in_ip %> 
      </li>
    </ul>
  </div>
</div>
