<% provide(:title, 'Users Administration') %>

<h1>Users Administration</h1>
<div class="row">
  <div class="span12">
      <span >
      <%= form_tag admin_users_path, :method => :get,  class: "form-search"  do %>
        <%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
        <%= submit_tag "Search", :name => nil , class: "btn btn-primary"%>
      <% end %>
      </span>
    <h3>Total Users (<%= @users.count %>) - Inactive Users (<%= @deleted_users.count %>) </h3>
    <% @users.each do |user| %>
    <ul class="poets">
      <span class="title"> <%= user.name %>
        <% unless user == current_user %> |
          <span id="<%= dom_id(user) %>">
          <!-- deleted? is a permanent record method -->
          <% if user.deleted? %>
           <%= link_to('Activate', revive_admin_user_path(user),
                    data: {confirm: "Activate account?"}) %>
          <% else %>
            <%= link_to('Delete', admin_user_path(user),
                    method: :delete,
                    data: { confirm: "Delete Account?" }) %>
          <% end %>
          </span>
        <% end %>
      </span>
      <li>
        User's ID: <%= user.id %> <br>
        User's email: <%= user.email %> <br>
        Account created: <%= time_ago_in_words(user.created_at) %> ago <br>
        Account last activity: <%= time_ago_in_words(user.updated_at) %> ago <br>
        Account deleted at: <%= user.deleted_at %> <br>
        Account last sign: <%=  user.last_sign_in_at %> <br>
        User's IP: <%= user.current_sign_in_ip %> <br>
      </li>
     </ul>
    <% end %>
  </div>
</div>
