<h1>Admin. Users Console</h1>
<div class="row">
  <div class="span12">
    <h3>Total Users: <%= @users.count %> </h3>
    <% @users.each do |user| %> 
    <ul class="poets">
      <span class="title"><%= user.name %> | <%= link_to('Deactivate User') %></span>
      <li>
        User's email: <%= user.email %> <br>
        Account created: <%= time_ago_in_words(user.created_at) %> ago <br>
        Account updated: <%= time_ago_in_words(user.updated_at) %> ago <br>
        Account deleted at: <%= user.deleted_at %> <br>
        Account last sign: <%=  user.last_sign_in_at %> <br>
        User's IP: <%= user.current_sign_in_ip %> 
      </li>
     </ul>
    <% end %>
  </div>
</div>