<footer class="footer">
  <small>
    <% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you? <%= link_to("Logout", logout_path) %> <br />
   <% end %>
   Ali3nLabs &copy; <%= Time.now.year %> all rights reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
